$dfFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
* {
  padding: 0;
  margin: 0;
  block-size: auto;
  color: #fff;
}
nav {
  .MenuBar {
    font-family: $dfFont;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    position: fixed;
    width: 100%;
    .MynameInBar {
      font-weight: 600;
      font-size: 2.1rem;
      color: #fff;
      height: 55px;
    }
    ul {
      display: flex;
      li {
        list-style: none;
        a {
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          padding: 0 15px;
          color: #fff;
        }
      }
    }
  }
}
.StartView {
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/26179770/37276818-e3e358f4-2608-11e8-9659-05585e92a588.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  .MyNameIs {
    color: #fff;
    text-align: center;
    font-size: 1.64rem;
  }
  .MyName {
    color: #fff;
    font-size: 4.2rem;
  }
  .NameCssConfig {
    font-family: $dfFont;
    font-weight: 400;
  }
  .Phrase {
    color: #fff;
    text-align: center;
    margin-top: 35vh;
  }
}
.AboutMe {
  height: 100vh;
  width: 100%;
  .aboutDescContent {
    width: 100%;
    height: 55%;
    background-color: #000;
    .MotPhrase {
      color: #fff;
      font-size: 2.7rem;
      line-height: 110%;
      font-family: $dfFont;
      font-weight: 400;
      text-align: center;
    }
    .desc {
      h1 {
        text-align: center;
        margin-top: 60px;
        font-size: 2.4rem;
        font-weight: bold;
        font-family: $dfFont;
      }
      p {
        text-align: center;
        font-size: 1.3rem;
        line-height: 140%;
        font-family: $dfFont;
      }
    }
  }
  .PhraseMontAboutMe {
    height: 45%;
    background-image: url("https://www.hypeness.com.br/1/2019/01/floresta-ma%CC%81gica-Inglaterra-2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    h1 {
      font-size: 5rem;
      text-align: center;
      font-family: $dfFont;
    }
    p {
      text-align: center;
      font-size: 3.5rem;
      font-weight: 200;
      font-family: $dfFont;
    }
  }
}
.Projects {
  min-height: 100vh;
  .MyProjects {
    background-color: rgb(28, 28, 28);
    min-height: 50vh;
  }
  .MySkills {
    min-height: 50vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    flex-direction: column;
    .Skills {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      justify-content: center;
      img {
        width: 80%;
        height: 80%;
        margin: 10px;
      }
    }
  }
  .MyProjects,
  .MySkills {
    h1 {
      font-weight: 500 !important;
      text-align: center;
      padding-top: 20px;
      font-family: $dfFont;
    }
  }
}
.EndBar {
  width: 100%;
  background-color: #000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: $dfFont;
    font-weight: bold;
  }
}
